.image-wrap{
   width:570px;
   height: 400px;
   display: table-cell;
  text-align: center;
  position:relative;
  vertical-align: middle;
   overflow: hidden;
   -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
}
.imag-wrap img{
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    vertical-align: middle;
}
.user-avatar {
    -webkit-border-radius: 20%;
            border-radius: 20%;
    border: 2px solid #FFF;
}

.card-header:hover{
  cursor: pointer;
  text-decoration: underline;

}

@media screen and (max-width: 450px) {
  .image-wrap{
     width:350px;
     height: 250px;
  }
  .card{
    width: 350px;
  }
}
