body{
  background: rgba(220,220,220,0.7)!important;
  margin-top: 50px;
  overflow-x: hidden;
}

.side{
  background: rgba(245,245,245,0.8)!important;
  overflow: hidden;
  width: 15%;
  position: fixed;
  height: 100%;
}
.user-avatar {
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 2px solid #FFF;
}

.nav-link:hover{
  border-radius: 10px;
  background: rgba(10,10,10,0.6);
  cursor: pointer;
  color:white!important;
}
div.main {
  margin-left: 25%!important;
  padding: 1px 1px;
  height: 100%;
}
.btn{
float: right!important;
}

.post{
  margin-top:10px;
  margin-right: -50px;
}

@media screen and (max-width: 992px) {
    .side {
        top: 50px;
        left: 0px;
        width: 0px;
    }
    div.main{
      margin-left:5%;
    }
}


@media screen and (max-width: 450px) {
  .post{
     width:350px!important;
  }

}
